:root{
  background-color: #010101;
  color:white;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.p1{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}

.text{
position: absolute;
width: 702px;
height: 200px;
margin-left: 50%;
transform: translateX(-50%);
top: 4vw;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
/* font-size: 120px; */
font-size: 9vw;
line-height: 100%;

/* display: flex; */
align-items: center;
text-align: center;

background: rgba(113,0,204,1);
background: linear-gradient(144deg, #7100cc 19%, rgb(239, 27, 239) 80%);
-webkit-text-fill-color: transparent;
background-color: red;
background-clip: text;
opacity: 1;
animation: width 2s ease-in-out;
}

.texto{
  position: absolute;
width: 702px;
height: 200px;
margin-left: 50%;
transform: translateX(-50%);
/* left: 200px; */
top: 12vw;

font-family: 'Anton';
font-style: normal;
font-weight: 400;
font-size: 9vw;
line-height: 100%;

/* display: flex; */
align-items: center;
text-align: center;

/* White */


background: rgb(1,127,184);
background: linear-gradient(144deg, #017fb8 19%, rgba(0,219,255,1) 80%);
-webkit-text-fill-color: transparent;
background-clip: text;
opacity: 1;
animation: width 2s ease-in-out;
}

.textx{
  display:none;
  position: absolute;
  width: 702px;
  height: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
  top: 4vw;
  
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  /* font-size: 120px; */
  font-size: 1em;
  line-height: 100%;
  
  /* display: flex; */
  align-items: center;
  text-align: center;
  
  background: rgba(113,0,204,1);
  background: linear-gradient(144deg, #7100cc 19%, rgb(239, 27, 239) 80%);
  -webkit-text-fill-color: transparent;
  background-color: red;
  background-clip: text;
  opacity: 1;
  animation: width 2s ease-in-out;
  }

@keyframes width{
  0%{
    width: 0px;
  }100%{
    width: 702px;
  }
}

.nav{
  z-index: 10;
  padding-top: 10px;
  position: fixed;
}

.llave{
  margin-left: 23%;
  margin-top: 60px;
  position: absolute;
  font-size: 18em;
  animation: llave 1.5s linear forwards;
}

@keyframes llave{
  0%{
    margin-left: 46%;
  }100%{
    margin-left: 23%;
  }
}

.otrallave{
  margin-left: 70%;
  margin-top: 60px;
  position: absolute;
  font-size: 18em;
  animation: otrallave 1.5s linear forwards;
}

@keyframes otrallave{
  0%{
    margin-left: 50%;
  }100%{
    margin-left: 70%;
  }
}

.ul{
  margin-left: 930px;
  margin-top: 10px;
  display: flex;
  list-style: none;
  gap: 30px;
}

.modal{
  z-index: 20;
  position: absolute;
  width:100vw;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.662);
  transition: 1s;
  /* text-align: center; */
}

.modal-container{
  background-color: white;
  height: 380px;
  width: 800px;
  border-radius: 30px;
  margin-top: 30vh;
  margin-left: 20%;
  scale:0;
  opacity:0;
  /* transform: translateX(-50%); */
  animation: aparecer .5s ease-in-out forwards;
  display:flex;
  flex-direction: row;
}

.left{
  height:100%;
  /* background-color: red; */
  overflow: hidden;
}
.right{
  text-align: center;
  width: 550px;
  height: 100%;
  /* background-color: red; */
}
.titulo-project{
  color:black;
  font-size: 2em;
}

.description{
  color:black;
  margin-left: 10%;
  width: 80%;
  font-size: 1.05em;
}

.img-app{
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 30px;
  width: 250px;
  height: 340px;
  display: inline-block;
  object-fit: cover;
}

@keyframes aparecer{
  70%{
    scale: 1.05;
  }
  100%{
    scale:1;
    opacity:1;
  }
}

.tech-used{
  width: 70%;
  margin-left: 15%;
}

.li{
  position: relative;
  font-weight: 0;
  letter-spacing: 3px;
  cursor:pointer
}

.li .active{
  font-weight: 1000;
  background: rgb(1,127,184);
background: linear-gradient(144deg, #017fb8 19%, rgba(0,219,255,1) 80%);
-webkit-text-fill-color: transparent;
background-clip: text;
}

.li::after{
  content:'';
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 100%;
  left: 0;
  border-radius: 100px;
  background: rgb(1,127,184);
background: linear-gradient(144deg, #017fb8 19%, rgba(0,219,255,1) 80%);
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
}

.li:hover::after{
  transform: scaleX(1);
}

.transicion{
  height: 110vh;
  width: 100vw;
  background: rgb(1,127,184);
  background: linear-gradient(144deg, #017fb8 19%, rgba(0,219,255,1) 80%);
  --mask:
    radial-gradient(111.80px at 50% 150.00px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 100%,
    radial-gradient(111.80px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.about{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-color: red; */
}

.tech{
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
}

.work{
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
}

.txt{
  position: absolute;
  /* background-color: red; */
  margin-top: 50px;
  width: 100vw;
  font-size: 3em;
  text-align: center;
}

.azul{
  background: rgb(1,127,184);
background: linear-gradient(144deg, #017fb8 19%, rgba(0,219,255,1) 80%);
-webkit-text-fill-color: transparent;
background-clip: text;
}

.morado{
  background: rgba(113,0,204,1);
background: linear-gradient(144deg, #7100cc 19%, rgb(239, 27, 239) 80%);
-webkit-text-fill-color: transparent;
background-clip: text;
}

.container{
  position: absolute;
  width: 80%;
  margin: 175px 10%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

.tech-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  /* background-color: red; */
  height: 70vh;
  width: 85vw;
  margin: 5vh 7.5vw;
}

.box{
  background-color: #151515aa;
  text-align: center;
  margin-top: 15vw;
  height: 50vh;
  width: 18vw;
  border-radius: 20px;
  padding: 5px;
  /* background-color: red; */
}

.title-section{
  font-family: "Anton";
  letter-spacing: 2px;
  margin-top: 0;
  font-size: 1.5em;
}

.skills{
  /* background-color: red; */
  margin-left: 1vw;
  width: 16vw;
  height: 40vh;
  text-align: center;
}
.skill{
  padding:5px;
  height: 55px;
}

.skillmini{
  padding:5px;
  height: 55px;
}

.webs{
  height: fit-content;
  width: 70%;
}
/* .skill:first-child{
  height: 130px;
} */

.img{
  filter: invert(1);
  margin-top: 8px;
  height: 55px;
}

.logo{
  width: 40px;
  position: fixed;
  margin: 10px 50px;
}

.nombre{
  /* font-family: "Anton"; */
  position: fixed;
  margin: 11px 100px;
  font-weight: 1000;
  color: rgba(0,219,255,1);
  animation: name 7s infinite;
  letter-spacing: 1.5px;
}

@keyframes name{
  0%{
    color: rgba(0,219,255,1);
  }50%{
    color: rgb(0, 111, 131);
  }100%{
    color: rgba(0,219,255,1);
  }
}

.contact{
  height: 100vh;
  width: 100vw;
}

.footer{
  height: 700px;
  margin-left: -100px;
  margin-top: 50vh;
  /* animation: rotar 10s ease-in-out infinite; */
  filter: drop-shadow(0px 0px 20px rgb(146, 146, 146, .5));
}

.astronauta{
  margin-left: 100px;
  margin-top: 20vh;
  position: absolute;
  height: 300px;
  z-index: 2;
  transform: scaleX(-1);
}

@keyframes rotar{
  50%{
    rotate: 5deg;
  }
}

.formulario{
  position:absolute;
  margin-left: 50%;
  margin-top: 50vh;
  transform: translateY(-50%);
  background-color: white;
  height: 300px;
  width: 500px;
  border-radius: 20px;
}

.pregunta{
  margin-top: 20px;
  height: 60px;
  width: 100%;
border-radius: 20px;
text-align: center;
font-size: 2em;
font-weight: 600;
}

.button{
  margin-left: 140px;
  margin-top: 30px;
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  width: 50%;
  margin-left: 25%;
}

.si{
  background: rgb(1,127,184);
background: linear-gradient(144deg, #017fb8 19%, rgba(0,219,255,1) 80%);
border-radius: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  color:rgb(255, 255, 255);
  cursor:pointer;
  transition: .3s;
  font-weight: 600;
}
.si:hover,
.no:hover{
  transform: scale(1.03,1.03);
}

.no{
  transition: .3s;
  background-color: rgb(221, 221, 221);
  color:rgb(70, 70, 70);
  border-radius: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  cursor:pointer;
  font-weight: 600;
}

.form{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
}

input{
  position: relative;
  height: 30px;
  margin-top: 10px;
  border: 0;
  font-size: 1.4em;
  text-align: center;
  transition: 1s;
}

input:focus{
  outline:0;
}

.voz{
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  margin-top: 80px;
  margin-left: 180px;
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: white;
  color:black;
}
.voz::after{
  content: "";
  margin-top: 20px;
  margin-left: -10px;
  position: absolute;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background-color: white;
}

.pj{
  /* transform: scaleX(-1) */
  margin-left: -250px;
  width: 1000px;
  z-index: 1;
  /* position: absolute; */
}

.yo{
  width: 700px;
  text-align: center;
  position: absolute;
  font-size: 1.6em;
  margin-top: -820px;
  margin-left: 500px;
  color: white;
  z-index: 3;
}

.social{
  width: 50px;
  margin-top: 450px;
  margin-left: 20px;
  position: absolute;
  filter:invert(100%);
  cursor:pointer;
  transition: .3s;
}

.social:last-child{
  margin-left: 120px;
}

.social:hover{
  scale: 1.1;
}

.prueba{
  position: absolute;
  margin-left: -40px;
}
.pruebas{
  position: absolute;
  margin-left: -120px;
}
.pruebass{
  position: absolute;
  margin-left: 40px;
}

.oscuro{
  position: absolute;
height: 100vh;
width: 100vw;
background-color: rgb(0, 0, 0);
opacity: 1;
z-index: 20;
transition: .4s;
}

.iconito{
  margin-left: 47vw;
  margin-top: 41vh;
  /* transform: translate(-50%,-50%); */
  height: 80px;
  animation: girar 2s ease-in-out infinite forwards;
  transition: .4s;
}

@keyframes girar{
  0%{
    rotate: 0deg;
  }
  50%{
    scale: 1.5;
  }
  100%{
    rotate: 360deg;
  }
}

@media screen and (max-width: 1000px){
  .llave, .otrallave, .nombre, .particles{
    display:none;
  }
  .logo{
    margin-left: 20px;
  }
  .ul{
    margin-left: 70px;
  }
  .li{
    font-size:1.5em
  }
  .text{
    font-size: 8em;
    margin-top: 450px;
  }
  .texto{
    font-size: 8em;
    margin-top: 510px;
  }
  .textx{
    font-size: 5em;
    letter-spacing: 5px;
    margin-top: 370px;
    display:block;
  }
  .textox{
    font-size: 8em;
    margin-top: 410px;
  }
  .txt{
    margin-top: 150px;
  }
  .pj{
    margin: 600px -100px;
    width: 500px;
  }
  .yo{
    margin-top: -1470px;
    margin-left: 100px;
    font-size: 2em;
    width: 540px;
  }
  .prueba, .pruebas, .pruebass{
    margin-top: 300px;
  }
  .social{
    width: 70px;
  }
  .box{
    margin-top: 300px;
  }
  .container{
    margin-top: 280px;
    grid-template-columns: auto auto;
  }
  :root{
    overflow: scroll;
  }
  .modal-container{
    margin-top: 440px;
    margin-left: 90px;
    width: 540px;
    /* height: 400px; */
  }
  .skillmini{
    height: 36px;
    padding: 5px
  }
  .left{
    width: 400px;
  }
}